body {
  background-color: white;
}

h1 {
  font-family: verdana;
  font-size 18px;
  color: black;
  text-align: left;
}

p {
  font-family: verdana;
  font-size 14px;
  color: black;
  text-align: left;
}
